.search-container{
    text-align: center;
    line-height: 50px;
    background-color: rgba(0, 0, 0, 0.781);
}

.search-container input {
    width: 75%;
}

.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product-container{
    border-right: 1px solid lightGray;
    margin-right: 5px;
    margin-left: 100px;
}