.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 8px;
    padding-bottom: 5px;
}

.product-name{
    color: blue;
    font-weight: 500;
}

.product-info{
    margin-left: 5px;
}

.cart-btn{
    width: 150px;
    height: 25px;
    background-color: goldenrod;
    border: 1px solid gray;
    border-radius: 5px;
}

.icon-color{
    color: goldenrod;
}